ul {
  list-style-type: none;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

  width: 500px;
  /* padding: 20px; */
  background-color: #ffffff;
}

.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  width: 100%;
  padding: 20px 0;
  border: none;
  text-align: center;
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
}

/* input:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
} */

button {
  padding: 5px;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

.section-list {
  padding: 0 20px;
}

li {
  font-size: 16px;
  border-bottom: 1px solid #c8e8f7;
  padding: 10px;
  cursor: pointer;
}

.section-event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
}

.parsley-error {
  color: #ff5757 !important;
  text-align: center;
}

p {
  margin: 3px 0 0 0;
}

.has-error {
  border: 1px solid;
  border-color: #e03838 !important;
  border-radius: 2px;
}

.has-success {
  border: 1px solid;
  border-color: #77e038 !important;
  border-radius: 2px;
}

input:focus{
  outline: none;
}

